.container {
  height: 100vh;
  /* background-color: #f8f9fa; */
  background-color: #ffff;
  border-radius: 15px;
}

.infoContainer {
  /* height: 100%; */
  padding: 0px !important;
  background-color: #f8f9fa;
}

.leaveContainer {
  height: 100vh;
  background-color: #f8f9fa;
  /* background-color: #ffff; */
  border-radius: 15px;
}

.generalInfo {
  background-color: #ffff;
  padding: 30px 20px;
  border-radius: 10px;
}

.generalInfoButton {
  display: flex;
  flex-direction: row;
  gap: 20px;
  @media (max-width: 480px) {
    flex-direction: column;
    width: 100%;
    padding: 0px 5px;
  }
}

.companyProfile {
  background-color: #ffff;
  padding: 30px 20px;
  border-radius: 10px;
}

.formWrap {
  margin-top: 2rem;
  @media (max-width: 768px) {
    margin: 0px;
    flex-direction: column;
    width: 100%;
  }
}
.placeholder {
  font-size: 8px;
}

.label {
  font-size: small;
  padding-bottom: 10px;
  color: #515151;
}

.infoWrapper {
  height: 2px;
}

.headerContent {
  background-color: #ffff;
}

.label {
  color: #515151;
  font-size: 12px;
}

.input {
  color: #111111;
  font-size: 24px;
}

.active {
  color: #27e408;
  text-transform: capitalize;
}

.underReview {
  color: #e5d311;
  text-transform: capitalize;
}

.pending {
  color: #aeaeae;
  text-transform: capitalize;
}

.suspended {
  color: #ff0000;
  text-transform: capitalize;
}

.onHold {
  color: #ff7a00;
  text-transform: capitalize;
}

.card {
  margin: 0px auto;

  @media (max-width: 780px) {
    width: 80% !important;
  }

  @media (max-width: 500px) {
    width: 100% !important;
    margin: 0px;
  }
}

.content {
  max-width: 100%;
  padding: 1.5rem 1.5rem 0 1.5rem;
  @media (max-width: 768px) {
    /* Assuming $mantine-breakpoint-md is 768px */
    max-width: 100%;
    margin-right: 0;
  }
}

.infoContent {
  max-width: 100%;
  @media (max-width: 768px) {
    /* Assuming $mantine-breakpoint-md is 768px */
    max-width: 100%;
    margin-right: 0;
  }
}

.layout {
  @media (max-width: 500px) {
    flex-direction: column;
  }
}
.individualWrap {
  gap: 4rem;
  @media (max-width: 768px) {
    margin-top: 2rem;
    gap: 2rem;
  }
}
.btnLink {
  background-color: #ebebeb;
  color: #424242;
  font-size: 13px;
  font-weight: 600;

  &[data-active] {
    &,
    &:hover {
      background-color: #e7f7ff;
    }
  }
}
.activeConfig {
  color: #424242;
  &[data-active] {
    &,
    &:hover {
      color: #3377ff;
    }
  }
}
.inputWrap {
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem !important;
  }
}
.formStack {
  @media (max-width: 768px) {
    gap: 1rem;
  }
}
.formWrap {
  margin-top: 2rem;
  @media (max-width: 768px) {
    margin: 0px;
    flex-direction: column;
    width: 100%;
  }
}
.placeholder {
  font-size: 8px;
}

.label {
  font-size: small;
  padding-bottom: 10px;
  color: #515151;
}

.vacancyTextArea {
  height: 100px !important;
}

.wrapper {
  background-color: #f1faff;
}

.editLabel {
  color: black;
  font-size: 16px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word;
}

.content {
  border-radius: 15px;
}

.input {
  font-size: large;
  font-weight: 500;
}

.section {
  color: #424242;
}

.switchLabel {
  font-size: 13px;
  padding-bottom: 10px;
  font-weight: 500;
}
.error {
  font-size: 12px;
}
.btnWrap {
  @media (max-width: 768px) {
    margin-top: 2rem !important;
  }
}
.btn {
  @media (max-width: 500px) {
    width: 100%;
  }
}
