.flexWrap {
  @media (max-width: 500px) {
    flex-direction: column;
  }
}
.formContainer {
  @media (max-width: 500px) {
    flex-direction: column;
  }
}
.btn {
  @media (max-width: 500px) {
    width: 100%;
  }
}
.label {
  font-size: small;
}
.error {
  font-size: 12px;
}
