@import url('https://fonts.cdnfonts.com/css/satoshi');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */


@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Regular.woff2') format('woff2');
  /* Add more font formats for cross-browser compatibility if needed */
  font-weight: normal;
  font-style: normal;
}
::-webkit-scrollbar {
  width: 0; 
}
html, body {
	margin: 0;
	padding: 0;
  font-family: 'Satoshi', sans-serif;
}
 .mantine-TextInput-input:focus-within{
  --_input-bd: #3377FF !important;
}