.root {
    background-color: #3377FF;
  
    &::before {
      background-color: #fff;
    }
  }
  
  .description,
  .title {
    color: #fff;
  }
  
  .closeButton {
    color: #fff;
  
    @mixin hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }