.wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
  }
  .wrapper_img{
    background-image: url('/assets/images/authImg.png');
    flex: 1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 500px) {
      display: none;
      }
  }
  .wrapper_imgOverlay {
    position: absolute;
    inset: 0;
    background-color: #3377FF;
    opacity: 42%;
  }
  .logo_wrapper{
    position: absolute;
    width: 200px;
 
  }
  .form_wrapper{
    flex: 1;
    height: 100%;
  }
  .form_container {
   max-width: 43rem;
    padding-top: rem(80px);
    height: 100%;
    display: flex;
  justify-content: center;
    flex-direction: column;
    gap: 32px;

  
  }
  
  .title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-family: Greycliff CF, var(--mantine-font-family);
  }