.label {
  font-size: small;
}
.error {
  font-size: 12px;
}
.btnWrap {
  @media (max-width: 768px) {
    margin-top: 2rem !important;
  }
}
.btn {
  @media (max-width: 500px) {
    width: 100%;
  }
}
