.navbar {
  height: 100vh;
  width: rem(300px);
  padding: 2rem 20px 20px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-top-right-radius: 40px;
  flex: 1;
  @media (max-width: 768px) {
    display: none;
  }
}

.navbarMain {
  flex: 1;
  overflow: auto;
}

.footer {
  padding-top: var(--mantine-spacing-md);
  margin-top: var(--mantine-spacing-md);
  border-top: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}
.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  color: #626262;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;

  @mixin hover {
    background-color: #3377ff17;
    color: #626262;

    .linkIcon {
      color: #626262;
    }
  }

  &[data-active] {
    &,
    &:hover {
      background-color: #3377ff;
      color: #fff;

      .linkIcon {
        color: #fff;
      }
    }
  }
}

.linkIcon {
  color: #626262;
  margin-right: var(--mantine-spacing-sm);
  width: rem(18px);
  height: rem(18px);
}
