.label {
  font-size: small;
}
.error {
  font-size: 12px;
}
.form_wrapper {
  position: relative;
}
.form_wrapper::before {
  content: "";
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
  background-image: url("/assets/images/HRbg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}
