
.label {
    font-size: 13px;
    color: #4D4D4D;
}


.fileLabel {
    font-size: 13px;
    color: #4D4D4D;
    background-color: rgb(236, 242, 255);
    padding: 10px;
    border-radius: 10px;
  }

.placeholder {
    font-size: 11px;
}

.pill {
    background-color: #E7F7FF;
}

.steps {
    width: 60%;
    margin: 0 auto;
}

.radio {
    border-color: #3377FF;
}

.container {
    margin: 20px;
    border-radius: 15px;
    /* height: 100dvh; */
    overflow: auto;
}

.containerContent {
    padding: 40px;
    padding-left: 100px;
}

.control {
    @media (max-width: 760px) {
      flex: 1;
    }
  }


@media (max-width: 768px) {
    .containerContent {
        padding: 0px 20px;
        padding-top: 40px;
    }

    .container {
        margin: 10px;
        border-radius: 15px;
    }
}

@media (max-width: 1024px) {
    .steps {
        width: 100%;
        /* border: 1px solid red; */
    }
}

@media (max-width: 555px) {
    .stepBody {
        display: none;
    }

    .steps {
        width: 100%;
    }

    .stepIcon {
        transform: scale(0.8);

    }
}