.layout {
  @media (max-width: 500px) {
    flex-direction: column;
  }
}
.individualWrap {
  gap: 4rem;
  @media (max-width: 768px) {
    margin-top: 2rem;
    gap: 2rem;
  }
}
.btnLink {
  background-color: #ebebeb;
  color: #424242;
  font-size: 13px;
  font-weight: 600;

  &[data-active] {
    &,
    &:hover {
      background-color: #e7f7ff;
    }
  }
}
.inputWrap {
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem !important;
  }
}
.formStack {
  @media (max-width: 768px) {
    gap: 1rem;
  }
}
.label {
  font-size: small;
}
.error {
  font-size: 12px;
}
.btnWrap {
  @media (max-width: 768px) {
    margin-top: 2rem !important;
  }
}
.btn {
  @media (max-width: 500px) {
    width: 100%;
  }
}
